[Unit]
Description=Uvicorn instance to serve Aserver
After=network.target

[Service]
User=mpcapp
Group=mpcapp
WorkingDirectory=/home/mpcapp/web/Aserver
ExecStart=/home/mpcapp/web/Aserver/venv/bin/uvicorn app:app --host 0.0.0.0 --port 8000 --workers 3

[Install]
WantedBy=multi-user.target